.info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000232;
    padding:10px 150px 10px 150px;
    justify-content: space-between;
   }


.text-left{
    text-decoration: none;
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 800;
}

.XDR-logo{
    width: 296px;
    height: 129px;
    padding: 2.7px, 2.08px, 2.7px, 2.08px;
}
