body{
    margin: 0;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000232;
    overflow-x: hidden;
}
