.nav-container{
    display: flex;
    flex-direction: row;
    height: 90px;
    align-items: center;
    background: #000232;
    margin: 0;
    justify-content: space-between;
}

.SC-logo{
    width: 217px;
    height: 73px;
    padding: 3.03px, 1.89px, 3.04px, 1.9px;
}

.nav-left{
    margin-left: 228px;
    margin-top: 10px;
}

.home-page-link{
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 800;
}

.nav-right{
    width: 55px;
    height: 27px;
    margin-right: 295px;
    margin-top: 31px;
}
