.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000232;
    padding:10px 150px 10px 150px;
    justify-content: space-between;
}

.SC-logo{
    width: 217px;
    height: 73px;
    padding: 3.03px, 1.89px, 3.04px, 1.9px;
}



.home-page-link{
    
    text-decoration: none;
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 800;
}


